In [42]:
import pandas as pd

In [43]:
na_values = ['*',"T"]
df = pd.read_csv("/Users/amilyhuang/Desktop/weather123.csv", header = 0, parse_dates=['DATE'], na_values=na_values)

In [44]:
df

,DATE,HourlyDryBulbTemperature,HourlyPrecipitation,HourlyWindSpeed
0,2018-11-01,52,0.0,7
1,2018-11-01,51,0.0,9
2,2018-11-01,51,0.0,9
3,2018-11-01,51,0.0,9
4,2018-11-01,51,0.0,14
...,...,...,...,...
14319,2019-12-31,29,0.0,17
14320,2019-12-31,29,0.0,11
14321,2019-12-31,29,0.0,9
14322,2019-12-31,29,0.0,17
14323,2019-12-31,27,0.0,8

In [45]:
df["HourlyDryBulbTemperature"].astype(int)

0        52
1        51
2        51
3        51
4        51
         ..
14319    29
14320    29
14321    29
14322    29
14323    27
Name: HourlyDryBulbTemperature, Length: 14324, dtype: int64

In [46]:
df["HourlyPrecipitation"].astype(float)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
14319    0.0
14320    0.0
14321    0.0
14322    0.0
14323    0.0
Name: HourlyPrecipitation, Length: 14324, dtype: float64

In [47]:
df["HourlyWindSpeed"].astype(int)

0         7
1         9
2         9
3         9
4        14
         ..
14319    17
14320    11
14321     9
14322    17
14323     8
Name: HourlyWindSpeed, Length: 14324, dtype: int64

In [54]:
temp = df.groupby("DATE")["HourlyDryBulbTemperature"].mean()

DATE
2018-11-01    49.225806
2018-11-02    44.357143
2018-11-03    43.892857
2018-11-04    50.125000
2018-11-05    48.361702
                ...
2019-12-27    35.068966
2019-12-28    40.800000
2019-12-29    54.761905
2019-12-30    34.270833
2019-12-31    27.588235
Name: HourlyDryBulbTemperature, Length: 426, dtype: float64

In [52]:
pre = df.groupby("DATE")["HourlyPrecipitation"].sum()

In [53]:
wind = df.groupby("DATE")["HourlyWindSpeed"].mean()

In [61]:
weather = pd.DataFrame(data = (temp,pre,wind))

In [63]:
weather = weather.T

In [64]:
weather

            HourlyDryBulbTemperature  HourlyPrecipitation  HourlyWindSpeed
DATE
2018-11-01                 49.225806                 0.00        14.677419
2018-11-02                 44.357143                 0.00         7.464286
2018-11-03                 43.892857                 0.05         6.428571
2018-11-04                 50.125000                 0.56        15.200000
2018-11-05                 48.361702                 0.45         9.978723
...                              ...                  ...              ...
2019-12-27                 35.068966                 0.00         8.206897
2019-12-28                 40.800000                 0.21         9.050000
2019-12-29                 54.761905                 1.09        11.523810
2019-12-30                 34.270833                 0.14        18.812500
2019-12-31                 27.588235                 0.00        17.558824

[426 rows x 3 columns]

In [68]:
weather["HourlyWindSpeed"].isnull().any()

False

In [69]:
weather.to_csv("/Users/amilyhuang/Desktop/weather_final.csv")